{{!--
Citation for the following html:
Date: 11/02/2025
Copied from: CS340 start app code 
Source URL: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131
--}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CS340 - My Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {{!-- Displays all the pages on the navigation bar throughout all pages--}}
    <nav>
        Navigation: 
        <a href="/">Home</a>
        <a href="/reservations">Reservations</a>
        <a href="/patrons">Patrons</a>
        <a href="/classes">Classes</a>
        <a href="/emergency-contacts">Emergency Contacts</a>
        <a href="/instructors">Instructors</a>
        <a href="/class-registration">Class Registrations</a>

        {{!--Citation for the following function:
        Date: 11/14/2025
        Adapted from Github Copilot:
        Prompt used: "how do we implement a reset sp_pl in app.js and html, assuming our procedure is already written", with a follow up prompt of "how do you generalize the app.js so its not specific to patrons page and resets the whole database and all the other tables on different pages"
        Source URL: https://github.com/copilot/c/1dacc04b-b3b3-41d2-891b-b959387c78dd  --}}
        {{!-- RESET button to reset DB --}}
        <form id='reset_form' class="resetbutton" method="POST" action="/reset">
            <td>
                <button type='submit'>
                    RESET
                </button>
            </td>
        </form>


    </nav>

    {{{body}}}

</body>
</html>
