{{!--
Citation for the following html:
Date: 11/02/2025
Copied from: CS340 start app code 
Source URL: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131
All code on this page is adapted from this source
--}}
<h1 class="databaseTitle">Aquamarine Swim Center- Home Page</h1>
<div class="pageDescription">
    {{!-- Summary information of our database --}}
    <h2>Group 9: Anvesha Kumar and Dristi Patel</h2>
    <p>
    <ul>
    <li>Reservations - View reservations <br> </li>
    <li>Patrons - View, update, delete and create patrons<br> </li>
    <li>Classes - View classes<br></li>
    <li>Emergency Contacts - View emergency contact information<br></li>
    <li>Instructors - View instructor information<br></li>
    <li>Class Registrations (PatronHasClasses)- View and update class registration information with class info and associated patrons <br></li>
    </ul>
    </p>
</div>

<img src=http://classwork.engr.oregonstate.edu:1041/images/jellyfish.jpg>

