{{!--
Citation for the following html:
Date: 11/02/2025
Copied from: CS340 start app code 
Source URL: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131
--}}
<h1 class="databaseTitle">Aquamarine Swim Center- Home Page</h1>
<div class="pageDescription">
    <p>
    Reservations - View reservations <br>
    Patrons - View, update, delete and create patrons<br>
    Classes - View classes<br>
    Emergency Contacts - View emergency contact information<br>
    Instructors - View instructor information<br>
    Class Registrations (PatronHasClasses)- View and update class registration information with class info and associated patrons <br>
    </p>
</div>
