{{!--
Citation for the following html:
Date: 11/02/2025
Copied from: CS340 start app code 
Source URL: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131
--}}
<h1>Home Page</h1>
<div class="pageDescription">
    <p>Developer information and Project overview here.</p>
    <p>
    Patrons - View, Update, Delete and Create Patrons, along with names of Emergency Contacts<br>
    Classes - View Classes<br>
    ClassRegistrations - View PatronHasClasses with Patron names and Class names<br>
    Reservations - View Reservations<br>
    EmergencyContacts - View Emergency Contacts<br>
    </p>
</div>
