/* 
Citation for the following css:
Date: 11/02/2025
Copied from: CS340 start app code 
Source URL: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131
All code on this page is adapted from this source, unless stated otherwise
*/

body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  background-color: #b5e1ea;
  color: #333;
  margin: 0;
  padding: 2rem;
}

h1, h2 {
    margin-left: 16px;
}

table {
    border-collapse: collapse;
    margin-left: 32px;
}

th, td {
    border: 1px solid #1a07ac;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #52b2c8;
}
tr:nth-child(even) {
    background-color: #c9e2f8;
}
.cuForm { 
    margin-left: 32px;
}
input, select {
    margin-bottom: 4px;
    margin-right: 12px;
}

nav {
    background-color: #52b2c8;  
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    margin-left: 16px;
    text-decoration: none;
}

a:hover{
    color: darkblue;
    font-weight: bold;

}
.pageDescription {
    margin-left: 32px;
}

/* Own work */
button {
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #4338ca;
}

.databaseTitle{
   text-align: center; 
   color:#4f46e5;
}

.resetbutton{
    margin-left: auto;
}

img{
    width: 400px;
    height: 400px;
    margin-left: 35%;
}